

/* New to spreadsheet */

body{ font: 14px sans-serif; text-align: center; }

        ul 
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #c8c8c8;
            height: 50px;
        }

        .footer 
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #FFFFFF;
            height: 50px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 100%;
        }

        

        .footer p
        {
            position: absolute;
            float: right;
            bottom: 0;
            right: 130px;
            margin: 0;
        }

        .footer img
        {
            float: right;
            display: block;
            margin: auto;
            max-height: 50px;
            max-width: 130px;
        }

        li 
        {
            float: right;
        }

        li a 
        {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            background-color: #111;
            height: 50px;
            position: absolute;
            top: 0px;
            right: 0px;
        }

        li a:hover 
        {
            background-color: #111;
        }

        ul img
        {
            display: block;
            margin: auto;
            max-height: 50px;
            max-width: 130px;
        }
.btn-warning{
  background-color:#ffc107;
  border-color:#ffc107;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.btn-danger{
        color:#fff;
        background-color:#dc3545;
        border-color:#dc3545}
.btn-danger:hover{
        color:#fff;
        background-color:#c82333;
        border-color:#bd2130}
